.boardInitialDiv {
  background: rgb(16, 152, 98);
  background: linear-gradient(
    180deg,
    rgba(16, 152, 98, 1) 0%,
    rgba(32, 217, 125, 1) 79%
  );
  color: #34645e;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trelloLogo {
  padding-left: 4px;
  margin: auto;
  font-family: cursive;
}
